<%= flash[:notice] %>
<h3>Editing book</h3>
<%= render 'errors',book:@book %>
<%= form_with model: @book do |form| %>
<p>title</p>
<%= form.text_field :title%>
<p>body</p>
<%= form.text_area :body%>
<br>
<%= form.submit "Update Book" %>
<% end %>

<div class="show-link-box">
<%=link_to "Show", book_path(@book.id) %>|<%= link_to "Back", books_path %>
</div>