<%= stylesheet_link_tag "books", :media => "all" %>
<div class="index-container">
  <h1>Books</h1>
  <% @books.each do |t|%>
  <table>
    <tbody>
      <tr>
        <th>title</th>
        <th>body</th>
        <th></th>
      </tr>
      <tr>
        <td><%= t.title %></td>
        <td><%= t.body %></td>
        <td><%= link_to "Show",book_path(t.id) %>
            <%= link_to "Edit",edit_book_path(t.id) %>
            <%= link_to "Delete",book_path(t.id), method: :delete %></td>
      </tr>
    </tbody>
  </table>
  <% end %>
<h3>New book</h3>
<%= form_with model: @book do |form| %>
<p>title</p>
<%= form.text_field :title%>
<p>body</p>
<%= form.text_area :body%>
<br>
<%= form.submit "Create Book" %>
<% end %>
</div>
