<%= stylesheet_link_tag "books", :media => "all" %>
<div class="index-container">
  <h1>Books</h1>
  <table>
    <tbody>
      <tr>
        <th>title</th>
        <th>body</th>
        <th></th>
      </tr>
      <% @books.each do |t|%>
      <tr>
        <td><%= t.title %></td>
        <td><%= t.body %></td>
        <td><%= link_to "Show",book_path(t.id) %>
            <%= link_to "Edit",edit_book_path(t.id) %>
            <%= link_to "Destroy",book_path(t.id), method: :delete,data:{confirm:"Are you sure?"} %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

<h3>New book</h3>
<%= render 'errors',book:@book %>
<%= form_with model: @book, local:true do |form| %>
<p>title</p>
<%= form.text_field :title%>
<p>body</p>
<%= form.text_area :body%>
<br>
<%= form.submit "Create Book" %>
<% end %>
</div>
